@import './themes/default.less';
@import './mixins.less';

html {
  font-size: 100px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16 * @hd;
  color: @text-deeper;
  background: @fill-background;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

i {
  cursor: pointer;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
