@import './themes/default.less';
@import './mixins.less';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: @text-deeper;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.icon-loading {
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation: 1s linear rotate infinite;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
