.header {
  .header-container {
    background: #eee;
    box-shadow: 0 0 10px rgba(1,1,1,0.2);
    .header-inner {
      max-width: 993px;
      padding: 6px 10px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      &>i {
        font-size: 22px;
        cursor: pointer;
      }
      &>.wiki-icon {
        margin: 0 20px;
        display: none;
      }
      &>.search-bar {
        width: 100%;
        max-width: 300px;
        margin-left: 10px;
      }
      @media (min-width: 720px) {
        .wiki-icon {
          display: block;
        }
        .search-bar {
          margin-left: 50px;
        }
      }
      .search-bar {
        height: 32px;
        padding: 0 5px;
        background: @fill-base;
        border-radius: 3px;
        display: flex;
        align-items: center;
        input {
          font-size: 18px;
          width: 100%;
          padding-left: 3px;
          border: none;
          outline: none;
        }
        i {
          font-size: 20px;
          &.icon-guanbi {
            cursor: pointer;
          }
          &.icon-loading {
            font-size: 16px;
            margin-right: 7px;
          }
        }
      }
    }
  }
}