ul.search-list {
  background: @fill-background;
  li {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0;
    padding: 10px;
    background: @fill-base;
    box-shadow: 0 1px 2px #ccc;
    div:nth-child(2) {
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      border-radius: 5px;
    }
  }
}